<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>APPLE STOCK PRICE</title>
        <link rel="stylesheet" href="style2.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Ubuntu:wght@300&display=swap" rel="stylesheet">  <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
      </head>
      <style>
        body{
            text-align: center;
            font-family: "Verdana";
        }
        .FORECAST{
            color: white;
            padding: 30px;
        }
        #DATASET{
            padding: 30px;
        }
        h3{
            padding-bottom: 30px;
        }
        table{
            margin-top: 50px;
        }
        td,tr{
            color: aliceblue;
        }
        td:hover {
            color: aliceblue;
        }
        #PREDICTED_DATA{
            padding: 30px;
        }
        progress {
            width: 300px;
            height: 20px;
        }
      </style>
<body>
    <section id="title" class="FORECAST bg-dark">

        <!-- Nav Bar -->
        <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark">
          <a class="navbar-brand" href="#">{{title}}</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
              <ul class = "navbar-nav ms-auto">
                  <li class = "nav-item">
                      <a class="nav-link" href="#DATASET">DATASET</a>
                  </li>
                  <li class = "nav-item">
                      <a class="nav-link" href="#TRAIN_TEST_SPLIT">SPLITTED DATA</a>
                  </li>
                  <li class = "nav-item">
                      <a class = "nav-link" href="#PREDICTED_DATA">PREDICTED DATA</a>
                  </li>
                  <li class = "nav-item">
                      <a class = "nav-link" href="">ABOUT</a>
                  </li>
              </ul>
          </div>
      </nav>
    </section>
    <div class="container-fluid FORECAST bg-dark">
        <h3>APPLE FORECASTED STOCK PRICE FOR NEXT 5 DAYS</h3>
        <div class="row">
            <div class="col-md-6">
                <table class="table table-hover">
                    <thead>
                        <tr>
                        <th scope="col">Dates</th>
                        <th scope="col">Prices</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        {% for item1, item2 in combine %}
                            <tr>
                                <td scope="col">{{ item1 }}</td>
                                <td scope="col">{{ item2 }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <img src="{{ Forecasting_DATA }}" alt="Forecasting_DATA" class="img-fluid DATASET">
            </div>
        </div>
    </div>   
    <section id="DATASET">
        <h3>DATA</h3>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <h4>DATASET</h4>
                    <img src="{{ DATASET }}" alt="DATASET" class="img-fluid">
                </div>
                <div class="col-md-6">
                    <h4>Windowed_data</h4>
                    <img src="{{ WINDOWED_DATA }}" alt="WINDOWED_DATA" class="img-fluid DATASET">
                </div>
            </div>
    </section>
    <section id="TRAIN_TEST_SPLIT" class="bg-dark FORECAST">
        <h3>TRAIN TEST SPLIT</h3>
        <div class="container-fluid">
            <div>
                <img src="{{ TEST_TRAIN_DATA }}" alt="TEST_TRAIN" class="img-fluid">
            </div>
    </section>
    <section id="PREDICTED_DATA">
        <h3>PREDICTED DATA</h3>
        <div class="container-fluid">
            <div>
                <img src="{{ PREDICTED_DATA }}" alt="PREDICTED_DATA" class="img-fluid">
            </div>
    </section>
</body>
</html>